@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #505050;
  background-color: #ffffff;
}

section {
  display: block;
}
.primary-color {
  color: #5f5e61;
}
.primary-backGround {
  background-color: #5f5e61;
}


button:focus {
  outline: none !important;
}

main {
  min-height: 58vh;
}

/* Text selection color */
::-moz-selection {
  color: #ffffff;
  background: #333333;
}

::selection {
  color: #ffffff;
  background: #333333;
}

.custom-select {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.input-field {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

input:focus {
  font-family: "Montserrat", sans-serif !important;
}

/* ------------------------
    Typography
------------------------*/
p{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 15px;
  color: #090031;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
 
  margin-top: 0px;
  margin-bottom: 0px;
 
  letter-spacing: 1px;
  font-weight: 900;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #5f5e61;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #5f5e61;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #5f5e61;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #5f5e61;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #5f5e61;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #5f5e61;
}

a {
  color: #5f5e61;
  text-decoration: none;
}

a:hover {
  color: #27678b;
  text-decoration: none !important;
}

/* 
    CTA-Btn
*/
.cta-btn {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color:white;
  text-align: center;
 
  transition: 0.5s !important;
  border-radius: 50px;
  letter-spacing: 1px;

  cursor: pointer;
}

.cta-btn:hover {
  text-shadow: #27678b 12px 12px 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-img-top {
  height: 20vh;
  border-radius: 50%;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: cover;
}
.pB,
.pB1,
.pB2,
.pB3,
.pB4,
.pB5 {
  width: 100%;
  height: 50px;
  position: relative;
  transition: ease-in 1s;
}
.pB2:after {
  content: "\A";
  position: absolute;
 background-image: -webkit-linear-gradient(180deg, #1b191f 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%; /* Specify the width.. */
}
.pB:after {
  content: "\A";
  position: absolute;
  background-image: -webkit-linear-gradient(180deg, #1b191f 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 75%; /* Specify the width.. */
}
.pB3:after {
  content: "\A";
  position: absolute;
 background-image: -webkit-linear-gradient(180deg, #1b191f 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 65%; /* Specify the width.. */
}
.pB1:after {
  content: "\A";
  position: absolute;
 background-image: -webkit-linear-gradient(180deg, #1b191f 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%; /* Specify the width.. */
}

.pB4:after {
  content: "\A";
  position: absolute;
 background-image: -webkit-linear-gradient(180deg, #232125 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 75%; /* Specify the width.. */
}
.pB5:after {
  content: "\A";
  position: absolute;
 background-image: -webkit-linear-gradient(180deg, #1b191f 60%, #000000 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 65%; /* Specify the width.. */
}
.homePageImage {
  width: 120%;
  height: 600px;
}
.feature_quote {
  background-color: black;
  color: white;
}
.feature_quote:hover {
  background-color: white;
  color: black;
}
.feature_quoteh5 {
  
  color: #333333;
}
.feature_quoteh5:hover {
  
  color: #27678b;
}
.home_banner {
  background-image: -webkit-linear-gradient(0deg,#adc2cd 60%, #afc3ce 100%);
}
.animate{
  animation: fade-in 2s ease-in;
}
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.imgDiv:hover{
  transition: ease-out;
display: none;
}
.imgDiv{
  background-color: black;
   height: 300px;
}
.imgDiv:hover.img-hover-details{
  display: none;
  height: 300px;
width: 200px;
  background-color: #333333;
}
.img-hover-details:hover{
  display: inline;
}
.item-single .spacer {
  width: 100%;
  min-height: 150px;
}
 .item-single img {
  border-radius: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .item-single img {
    width: 100% !important;
  }
}
.item-single .content {
  position: absolute;
  bottom: 0;
  left: 15px;
  background: #fff;
  border-radius: 7px;
  padding: 25px 16px;
  width: 100%;
  max-width: calc(100% - 30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 30px 0 rgba(102, 102, 102, 0.09);
  box-shadow: 0 0 30px 0 rgba(102, 102, 102, 0.09);
}
.item-single .content i {
  color: #797979;
  margin-right: 4px;
  vertical-align: -1px;
}
.item-single .content span {
  color: #797979;
  font-size: 14px;
}
.item-single .content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-single .content h3 a {
  color: #090031;
}
.item-single .content h3 a:hover {
  color: #fd5056;
}
.item-single .content p {
  padding-top: 15px;
  display: none;
  font-size: 15px;
}
.item-single .content .list {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-single .content .list li {
  display: inline-block;
  margin-right: 12px;
  color: #797979;
}
.item-single .content .list li:last-child {
  font-weight: 600;
  margin-right: 0;
  color: #fd5056;
  margin-left: auto;
}
.item-single:hover .content {
  background: #4141a5;
  -webkit-animation: fadeInUp 0.3s linear 1;
  animation: fadeInUp 0.3s linear 1;
}
.item-single:hover .content i {
  color: #d6d6d6;
}
.item-single:hover .content span {
  color: #d6d6d6;
}
.item-single:hover .content h3 a {
  -webkit-transition: none;
  transition: none;
  
}
.item-single:hover .content h3 a:hover {
  text-decoration: underline;
}
.item-single:hover .content .list li {
  color: #d6d6d6;
}
.item-single:hover .content .list li:last-child {
  color: #fff;
}
.item-single:hover .content p {
  
  display: block;
}
.item-single{
  position: relative;
  overflow: hidden;
}
.image {
  position: relative;
 height: 150px;
 
}